<html>
<head>
	<link rel="stylesheet" type="text/css" href="home_style.css">
	<title>
		Trivia
	</title>
</head>

<body>
	<center>
		<h1> <%= text %> </h1> 

		<% if incorrect_flag == true%>
			The correct answer was "<%= answer[0] %>".
		<% end %>
	


	<form action="/" method="get">
			<input id="button" type="submit" value="Next">
	</form>
	
</center>
</body>
</html>
