<html>
	<head>
		<link rel="stylesheet" type="text/css" href="home_style.css">
		<title>Trivia</title>
	</head>

	<body>

		<center>
			<h2>Congratulations!</h2>
			<h3>You have finished the game with <%= score %> points.</h3>

			<div id = "container">
				<h3>High Scores</h3>
				<div id = "left">
					<ol>
					<li>Participant 6</li>
					<li>Participant 8</li>
					<li>Participant 5</li>
					<li>Participant 3</li>
					<li>Participant 11</li>
					<li>Participant 17 and NAO</li>
					<li>Participant 9 and NAO</li>
					<li>Participant 14</li>
					<li>Participant 1 and NAO</li>
					<li>Participant 4 and NAO</li>
					</ol>
				</div>
				<div id = "right">
					<ul>
					<li>16 points</li>
					<li>15 points</li>
					<li>14 points</li>
					<li>13 points</li>
					<li>12 points</li>
					<li>8 points</li>
					<li>6.5 points</li>
					<li>5 points</li>
					<li>4 points</li>
					<li>3.5 points</li>
					</ul>
				</div>
			</div>
		</center>
	</body>
</html>