<html>
	<head>
		<link rel="stylesheet" type="text/css" href="home_style.css">
		<title>Trivia</title>
	</head>

	<body>

		<center>
			<h1>You have finished the game.</h1>
			
			<h2>Your score is <%= score %>.</h2>
			<div id = "container">
			Congratulations on finishing!
			<br>
			<br>
			Please wait for the experimenter(s) to come in. They will give you instructions on how to proceed.
			</div>
		</center>
	</body>
</html>