<html>
	<head>
		<link rel="stylesheet" type="text/css" href="home_style.css">
		<title>Trivia</title>
	</head>

	<body>

		<center>
			<h2>Congratulations!</h2>
			<h3>You have finished the game with <%= score %> points.</h3>
			<h3>
				<%= full%>
				<br>
				<%= split%>
				<br>
				<%= give%>
			</h3>
			<div id = "container">
				<h3>High Scores</h3>
				<div id = "left">
					<ol>
					<li>trivia_master</li>
					<li>Tom</li>
					<li>Ela</li>
					<li>Dragonbot</li>
					<li>Kate</li>
					<li>Martin</li>
					<li>Keepon</li>
					<li>bumblebee</li>
					<li>participant</li>
					<li>i_love_keepon</li>
					</ol>
				</div>
				<div id = "right">
					<ul>
					<li>9 points</li>
					<li>7 points</li>
					<li>6.5 points</li>
					<li>6.5 points</li>
					<li>5 points</li>
					<li>4.5 points</li>
					<li>3.5 points</li>
					<li>3.5 points</li>
					<li>3 points</li>
					<li>2 points</li>
					</ul>
				</div>
			</div>
		</center>
	</body>
</html>