<html>
	<head>
		<link rel="stylesheet" type="text/css" href="home_style.css">
		<title>Trivia</title>
	</head>

	<body>

		<center>
			<h1>Welcome to our Trivia Game!</h1>
			<div id="container">
			You and Nao will play a trivia game together. There are 16 questions. You may decide on an answer together and then you must enter the answer into the text box and click the "next" button to proceed. Answers must be spelled correctly but are not case sensitive. 
			<br>
			<br>
			Please read each question slowly and deliberately to Nao, and then let him know if you were correct, as he is unable to read the screen.
			<br>
			<br>
			<b>PLEASE DO NOT CLICK THE BROWSER'S "BACK" BUTTON.</b>
			<br>
			<br>
			When you are done, wait for the experimenter to come in. They will give you instructions on how to proceed.
			</div>
			<form action="/" method="get">

				<input id="button" type="submit" value="Begin">
			</form>

		</center>
	</body>
</html>