body { 
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
}

h1 {
	font-size: 80px;
	font-weight:normal;
}

img {
	opacity: .8;
	border-radius: 7px;
}

input {
	display: block;
}

::-webkit-input-placeholder {
   text-align: center;
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
}

#button {
	margin-top: 20px;
	font-size: 20px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
	border-radius: 100px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
	border: 1px solid #FFFFFF;
	background-color: white;
	color: black;
}


#container {
	width: 400px;
	margin: 100 auto;
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 8px;
	padding: 10px;
}


#container span {
	color: rgb(230, 230, 230);
}

span {
	margin: 10px;
	margin-top: 20px;
	display: block;
}