<html>
	<head>
		<link rel="stylesheet" type="text/css" href="home_style.css">
		<title>Trivia</title>
	</head>

	<body>

		<center>
			<h1>You have finished the game</h1>
			
			Your score is <%= score %>.
			Congratulations.
			<br>
			<br>
			Please wait for the experimenter to come in. They will give you instructions on how to proceed.

		</center>
	</body>
</html>