<html>
	<head>
		<link rel="stylesheet" type="text/css" href="home_style.css">
		<title>Dogenerator</title>
	</head>

	<body>

		<center>
			<h1>Dogenerator</h1>
			
			<div id="container">
			<form action="/" method="post">
				<label>
					<span>Text to be translated:</span>
					<textarea rows="7" cols="30" name="inputtext" required></textarea>
				</label>
			
				<label>
					<span>Number of phrases (between 5 and 20):</span>
					<input type="number" min="5" max="20" name="inputnum" required>
				</label>

				<input id="button" type="submit" value="much submit">
			</form>
			</div>
		</center>
	</body>
</html>