<html>
	<head>
		<link rel="stylesheet" type="text/css" href="home_style.css">
		<title>Trivia!!!!</title>
	</head>

	<body>

		<center>
			<h1>Trivia!!!</h1>
			
			<div id="container">
			<form action="/" method="post">
				<label>
					<span>Insert Question Here -- Get from Array</span>
					<textarea rows="2" cols="30" name="inputtext" placeholder="type answer here" required></textarea>
				</label>

				<input id="button" type="submit" value="submit">
			</form>
			</div>
		</center>
	</body>
</html>